.button {
    -fx-background-radius: 20;
    -fx-padding: 20;
    -fx-border-color: #F5B041;
    -fx-border-radius: 20;
    -fx-focus-color: transparent;
}
.button:hover{
    -fx-background-color: #9b2c21;
}
.button:armed{
    -fx-background-color: #832c22;
}
.root {
    -fx-font-family: 'Times New Roman', Serif;
    -fx-font-size: 30;
    -fx-alignment: CENTER;
    -fx-base: #922B21;
    -fx-border-color: #F5B041 ;
    -fx-background-color: #C0392B ;
    -fx-spacing: 20;
}

.tool-bar {
    -fx-border-color: #F5B041 ;
    -fx-background-color: #C0392B ;
}